:host {
    .modal-header {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .modal-content {
      text-align: center;
    }
  
    .title h1 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .error-message h2 {
      font-size: 1.2rem;
    }
  
    .custom-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%; /* Modalın ekranın %80'inden daha büyük olmamasını sağlar */
        max-height: 80%; /* Modalın ekranın %80'inden daha büyük olmamasını sağlar */
        overflow: auto; /* Modalın içeriği ekran dışına taşarsa kaydırma çubuklarını gösterir */
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 20px;
      }
  }
  