<div class="container" >
  <div *ngIf="!isTablet" class="image-container">
    <img src="../../../assets/image/sp-photo.jpg" class="centered-image" alt="Your Image">
    <div class="logo-container">
      <img src="../../../assets/image/logo.png" class="logo" alt="Your Logo">
      <div class="overlay"></div>
    </div>
  </div>
  <div class="text-container">
    <p class="first-text">SeraKıbrıs'a Hoş Geldiniz! </p>
    <p class="second-text">Sera maceramız başlıyor! Bitkileriniz keyifli ve akıllı bir şekilde büyümesi için hazır mısınız?</p>
    <button class="custom-button" (click)="redirectToLogin()">Hadi Başlayalım!</button>
  </div>
</div >
